@import "../utils/pixelate.scss";

$carby-32-colors: (
    '█' : #000000,
    '▓' : #550000,
    '▂' : #751D00,
    '◈' : #751D00,
    '▕' : #963838,
    '▒' : #963800,
    '⠀' : #B85501, // U+2800, not a space!
    '░' : #DC7401,
);

$carby-32-pixels: (
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )

    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ █ █ ╳ █ █ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▒ ⠀ ▓ █ ▓ ▓ █ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▒ ⠀ ░ ▒ ▓ ▒ ▓ █ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▓ ▒ ⠀ ░ ▂ ▒ ▒ █ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ ▕ ⠀ ░ ⠀ ▂ ▒ ▓ █ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ ▓ ▒ ⠀ ░ ⠀ ▒ ▓ █ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ ▓ ▒ ⠀ ░ ⠀ ⠀ ⠀ ◈ █ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▓ ▒ ▒ ⠀ ⠀ ⠀ █ ⠀ ⠀ █ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▂ ▒ ⠀ ⠀ ⠀ ⠀ ⠀ ░ ⠀ ▂ █ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▒ ⠀ ⠀ ⠀ ⠀ █ ⠀ ⠀ ░ ▒ █ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▓ ▒ ▓ ⠀ ⠀ ⠀ ⠀ █ █ █ █ █ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▒ ▒ ▒ █ ⠀ █ ▒ ⠀ ⠀ ⠀ ░ ▒ █ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▓ ▓ ▒ ▓ █ ▓ ▒ ⠀ ⠀ ░ ░ ▂ █ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ █ █ ▒ ▒ ▒ ⠀ ⠀ ⠀ ▒ ▒ █ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ █ ▓ ▂ ▒ ▒ ▒ ▓ █ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ █ █ █ █ █ █ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
);

$carby-32: pixelate($carby-32-pixels, $carby-32-colors);
$carby-32-rev: pixelate($carby-32-pixels, $carby-32-colors, true);

