@import "../utils/pixelate.scss";

$carby-19-colors: (
    '█' : #000000,
    '▓' : #550000,
    '◈' : #751D00,
    '▌' : #751D00,
    '▕' : #963838,
    '▒' : #963800,
    '⠀' : #B85501, // U+2800, not a space!
    '░' : #DC7401,
    'O' : #FFFFFF,
);

$carby-19-pixels: (
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ O ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ O ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ O O O O ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ O ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ O ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ O O O  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
                     
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ O  ╳ ╳ ╳ ╳ ╳ ╳ █ █ █ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ █ ▓ ⠀ ▒ █ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ O O O ╳ ╳ ╳  ╳ ╳ ╳ ╳ █ ▕ ░ ░ ▕ █ ╳ █ █ █ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( O O ╳ ╳ O ╳ O O  ╳ ╳ ╳ █ ▓ ░ ░ ▒ ▓ █ █ ▓ ▕ ⠀ ▒ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ O O O ╳ ╳  ╳ ╳ ╳ █ ⠀ ░ ⠀ ◈ ⠀ ⠀ ⠀ ▕ ⠀ ⠀ ▒ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▒ █ █ ⠀ ⠀ ⠀ █ █ ⠀ ⠀ ▒ ▓ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▓ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ▒ ▕ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▒ ▓ █ █ █ █ █ █ ⠀ ⠀ ⠀ ▓ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▒ █ █ ▓ ▌ ▌ ▌ ▌ █ ⠀ ▒ ▓ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▕ ⠀ █ ▓ ▌ ▌ ▕ ▕ ▕ ▌ █ ⠀ ▒ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▒ ⠀ █ ▌ ▌ ▕ ▕ ▕ ▕ ▕ █ ⠀ ⠀ ▕ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▓ ▒ █ ▓ ▕ ▕ ▕ ▕ ▕ ▓ █ ⠀ ▒ ▒ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▓ ▒ █ █ █ █ █ █ █ ⠀ ▒ █ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▓ ⠀ ⠀ ▒ ▒ ▒ ▒ ⠀ ▒ ▓ █ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ ▓ ▒ ▓ █ █ ▓ ▒ ▒ █ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ █ █ █ ╳ ╳ █ █ █ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
);

$carby-19: pixelate($carby-19-pixels, $carby-19-colors);
