@import "../utils/pixelate.scss";

$carby-29-colors: (
    '█' : #000000,
    '▓' : #550000,
    '▕' : #751D00,
    '◈' : #751D00,
    '▏' : #963838,
    '▒' : #963800,
    '⠀' : #B85501, // U+2800, not a space!
    '░' : #DC7401,
    '▗' : #DC9596,
    '▚' : #DCDB38,
    'O' : #FFFFFF,
);

$carby-29-pixels: (
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
                     
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ █ █ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ █ █ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▓ ⠀ ▒ █ █ ╳ ╳ ╳ ╳ █ █ ▒ ⠀ ▓ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ⠀ ░ ░ ░ ▓ █ █ █ █ ▓ ░ ░ ⠀ ⠀ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  O ▏ ⠀ ░ ░ ░ ▒ ▏ ▏ ▒ ░ ░ ░ ⠀ ▏ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  O ▓ ▒ ⠀ ░ ░ ░ ⠀ ⠀ ░ ░ ░ ⠀ ▒ ▓ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ O ╳ O  O █ O ▒ ░ ░ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ▒ ▕ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ O O  ╳ █ O O ░ ⠀ ⠀ ◈ ⠀ ⠀ ⠀ ⠀ ⠀ ▒ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ⠀ ░ █ █ ⠀ ⠀ ⠀ ⠀ █ █ ⠀ ⠀ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ O O ╳ ╳  ╳ O O O O ░ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ▕ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ O ╳  O ▒ ⠀ ⠀ █ █ █ █ █ █ █ █ ▒ ⠀ ▒ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ O O ╳  O █ ▓ ▒ ⠀ ░ ⠀ ⠀ ⠀ ⠀ ⠀ ▒ ▒ ▓ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▓ ▕ ⠀ ▒ ▒ ▒ ▒ ⠀ ▕ ▓ █ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ █ █ █ █ █ █ █ █ █ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
);

$carby-29: pixelate($carby-29-pixels, $carby-29-colors);

