@import "../utils/pixelate.scss";

$colors: (
    '█' : #000000,
    '▓' : #550000,
    '◈' : #751D00,
    '▕' : #963838,
    '▒' : #963800,
    '⠀' : #B85501, // U+2800, not a space!
    '░' : #DC7401,
);

$pixels: (
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )

    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ █ █ █ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ █ ▓ ⠀ ⠀ █ ╳ ╳ █ █ █ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ ▓ ⠀ ░ ⠀ █ ╳ █ ▓ ▒ ⠀ ▒ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ ⠀ ░ ░ ▒ █ █ ▓ ⠀ ░ ⠀ ▒ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▓ ⠀ ░ ⠀ ▕ ▕ ▒ ⠀ ░ ⠀ ⠀ ▓ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ⠀ ⠀ ⠀ ⠀ ◈ ⠀ ⠀ ⠀ ⠀ ⠀ ▒ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▓ ⠀ █ █ ⠀ ⠀ ⠀ █ █ ⠀ ▒ ▕ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▒ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ▓ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▒ █ █ █ █ █ █ █ █ ⠀ ▒ ▓ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▕ █ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ █ ⠀ ▒ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▒ ⠀ █ █ █ █ █ █ █ █ █ ⠀ ⠀ ▕ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▓ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ▒ ⠀ ▒ ▒ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▓ ▒ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ▒ █ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▓ ⠀ ⠀ ▒ ▒ ▒ ▒ ⠀ ▒ ▓ █ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ ▓ ▒ ▓ █ █ ▓ ▒ ▒ █ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ █ █ █ ╳ ╳ █ █ █ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
);

$shadows: pixelate($pixels, $colors);
$carby: map-merge($carby, (
    "carby-18" : (
        "box-shadow" : $shadows,
        "transform"  : scale(1, 1)
    ), 
    "carby-18-rev" : (
        "box-shadow" : $shadows,
        "transform"  : scale(-1, 1)
    )
));
