@import "../utils/pixelate.scss";

$colors: (
    '█' : #000000,
    '▓' : #550000,
    '▂' : #751D00,
    '◈' : #751D00,
    '▕' : #954643,
    '▒' : #963800,
    '⠀' : #B85501, // U+2800, not a space!
    '░' : #DC7401,
);

$pixels: (
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )

    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ █ █ █ █ █ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ ╳ █ █ ▓ ░ ⠀ ⠀ ▓ █ █ █  █ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ ╳ ╳ █ ▓ ░ ⠀ ⠀ ▒ ▂ ▓ ▒ ⠀ ▒  ▓ █ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ █ ▒ ░ ⠀ ⠀ ◈ ▒ ▒ ⠀ ░ ⠀ ▕  ▓ █ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ █ ▓ ░ █ █ ⠀ ⠀ ⠀ ⠀ ░ ░ ▒ ▕ ▓  █ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▂ ▓ ⠀ ░ ⠀ ⠀ ⠀ ⠀ ⠀ █ █ ⠀ ▕ ▓ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ⠀ ▂ ⠀ █ █ █ █ █ ▓ ⠀ ⠀ ▒ ▓ █ ╳  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ⠀ ⠀ █ ⠀ ⠀ ⠀ █ ░ ⠀ ▓ ⠀ ⠀ ▒ █ █  ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▂ ⠀ ░ ⠀ ⠀ ⠀ ▓ █ ⠀ ⠀ ⠀ ⠀ ⠀ ▒ ▓  █ █ ╳ ╳ ╳ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  █ ▓ ⠀ ░ ⠀ ⠀ ⠀ ⠀ ▓ █ ▓ ⠀ ⠀ ⠀ ⠀ ⠀  ▒ ▓ █ █ █ ╳ ╳ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▒ ▒ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀  ⠀ ⠀ ▒ ▂ ▓ █ █ ╳ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ █ ▓ ▒ ▒ ⠀ ⠀ ⠀ ⠀ ⠀ ⠀ ▒ ▒ ▕ ▕ ▕  ▒ ▒ ▒ ⠀ ⠀ ⠀ ▓ █ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ █ ▓ ▂ ▒ ▂ ▓ █ █ █ █ █ █ █ █  █ █ █ ▓ ▂ ▒ ⠀ █ )
    ( ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ █ █ █ █ ╳ ╳ ╳ ╳ ╳ ╳ ╳ ╳  ╳ ╳ ╳ █ █ █ █ ╳ )
);

$shadows: pixelate($pixels, $colors);
$carby: map-merge($carby, (
    "carby-37" : (
        "box-shadow" : $shadows,
        "transform"  : scale(1, 1)
    ), 
    "carby-37-rev" : (
        "box-shadow" : $shadows,
        "transform"  : scale(-1, 1)
    )
));
